body {
    background-color: rgb(255, 211, 232);  /* achtergrondkleur */
    color: black;  /* letterkleur*/ 
}

ul {
    list-style-type: none; /* geen puntjes voor het menu */
    margin: 0; /* haalt ruimte tussen de andere elementen weg */
    padding: 0; /* haalt ruimte binnen het menu weg */
    overflow: hidden; /* zorgt dat het binnen het venster blijft */
    background-color: deeppink;
}
ul li {
    float: left; /* zorgt voor horizontaal menu aan de linkerkant  */
}
ul li a {
    display: block; /* maakt het vakje waar de tekst in staat een blok */ 
    color: white;
    text-align: center; /* tekst komt in het midden van het blok */
    padding: 14px 16px;  /* creërt ruimte tussen de inhoud en de rand van het element */
    text-decoration: none; /* verwijderd standaard onderstreping van de link weg*/
}
ul li a:hover /* als je met je muis over het menu gaat krijgt die een andere kleur namelijk donker blauw */ {
    background-color: darkblue;
}

ul li a.active /* op de pagina waar je bent heeft het blokje van die pagina in het menu een andere kleur*/ {
    background-color: darkblue;
}


p.tekst /* breedte van mijn tekst op de home pagina */ {
    width: 55%;
    border-style: solid;
}

p.binair /* breedte van mijn tekst op de rest van de pagina */ {
    width: 60%;
}

img.ascii {
    width: 50%;   /* breedte */
    max-height: fit-content;  /* de maximale hoogte past zich aan */
}

iframe {
    width: 50%; /* creert ruimte buiten het element zodat het afstand krijgt van andere elementen */
    padding-right: 10px; /* zorgt voor padding aan de rechter kant van het spel */
}

img.RGB {
    width: 20%;
    float: right;
}

img.CMY {
    width: 30%;
}

img.compression {
    width: 30%;
    float: right;
    margin-right: 10px;
}

img.vector-bitmap {
    float: right;
    width: 35%;
    margin-right: 10px;
}

div.dashed { 
    border-style: dotted; /* hiermee kan je een border om een element zetten */
}

iframe.video {
    width: 40%;
    float: right;
}

